<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Shucord</title>
        {% block head %} {% endblock %}
    </head>

    <body>
        <div class="nav-bar">
            <p class="channelT">Channel</p>
            <ul> 
                <li><a href="">sfsdfasdasdadasdsdf</a></li>
                {% block sidebar %} {% endblock %}
            </ul>
        </div>
        <div class="content">

        </div>
        {% block body %} {% endblock %} 
        <div class="onlineBar">
            <ul>

            </ul>
        </div>
    </body>
</html>