<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Shucord</title>
        {% block head %} {% endblock %}
    </head>

    <body>
        <div>
            <ul class="nav-bar"> 
                {% block sidebar %} {% endblock %}
            </ul>
        </div>
        <div class="content">

        </div>
        {% block body %} {% endblock %} 
        <div>
            <ul class="onlineBar">

            </ul>
        </div>
    </body>
</html>